.achievement {
  position: relative;

  display: flex;
  flex-grow: 1;
  flex-direction: column-reverse;
  align-items: center;
  margin: 0;

  & + & {
    margin-left: 32px;

    @include tablet {
      margin-left: 42px;
    }
    @include desktop {
      flex-grow: 0;
    }
  }
}

.achievement__title {
  position: relative;
  bottom: 9px;

  padding: 0 16px;

  font-size: 12px;
  line-height: 1;
  font-family: $arial;
  text-align: center;
  color: $darkgrey;
  text-transform: lowercase;

  background-color: $grey;

  @include tablet {
    padding: 0 6px;

    font-size: 14px;

    background-color: #ffffff;

    br {
      display: none;
    }
  }
  @include desktop {
    background-color: $grey;
  }
}

.achievement__value {
  min-width: 121px;
  margin: 0;
  padding: 15px 20px;

  font-size: 24px;
  text-align: center;
  color: $black;
  text-transform: uppercase;

  border: 1px solid $border-grey;
  border-radius: 3px;

  @include tablet {
    min-width: 162px;
    padding-bottom: 20px;

    font-size: 30px;
    line-height: 1.23;
  }
}
