.achievement
{
    position: relative;

    display: flex;
    flex-direction: column-reverse;

    margin: 0;

    align-items: center;
    flex-grow: 1;

    & + &
    {
        margin-left: 32px;

        @include tablet
        {
            margin-left: 42px;
        }
        @include desktop
        {
            flex-grow: 0;
        }
    }
}

.achievement__title
{
    font-family: $arial;
    font-size: 12px;
    line-height: 1;

    position: relative;
    bottom: 9px;

    padding: 0 16px;

    text-align: center;
    text-transform: lowercase;

    color: $darkgrey;
    background-color: $grey;

    @include tablet
    {
        font-size: 14px;

        padding: 0 6px;

        background-color: #fff;

        br
        {
            display: none;
        }
    }
    @include desktop
    {
        background-color: $grey;
    }
}

.achievement__value
{
    font-size: 24px;

    min-width: 121px;
    margin: 0;
    padding: 15px 20px;

    text-align: center;
    text-transform: uppercase;

    color: $black;
    border: 1px solid $border-grey;
    border-radius: 3px;

    @include tablet
    {
        font-size: 30px;
        line-height: 1.23;

        min-width: 162px;
        padding-bottom: 20px;
    }
}
