.example
{
    padding-top: 10px;

    background-color: $grey;

    @include tablet
    {
        border-top: 1px solid #e6e6e6;
        background-color: #fff;
    }
    @include desktop
    {
        overflow: hidden;

        padding-top: 0;
        padding-bottom: 0;

        border-top: none;
        background-image: linear-gradient(#fff 0, #fff 200px, $grey 200px, $grey 100%);
    }
}

.example__wrapper
{
    @include desktop
    {
        display: flex;

        padding-right: 0;

        justify-content: space-between;
    }
}

.example__content
{
    @include desktop
    {
        max-width: 435px;
    }
}

.example__title
{
    font-size: 36px;
    font-weight: 400;

    padding: 20px 0;

    @include tablet
    {
        font-size: 60px;

        padding: 35px 0;
    }
    @include desktop
    {
        margin-top: 30px;
        margin-bottom: 40px;
    }
}

.example__text
{
    font-family: 'Arial', sans-serif;
    font-size: 14px;
    line-height: 18px;

    padding-right: 5px;

    @include tablet
    {
        font-size: 16px;
        line-height: 1.5;

        margin-top: 30px;
        margin-bottom: 40px;
        padding-right: 20px;
    }
    @include desktop
    {
        margin-bottom: 0;
        padding: 70px 0 60px;
    }
}

.example__data
{
    @include tablet
    {
        display: flex;

        margin-bottom: 50px;

        justify-content: space-between;
    }
    @include desktop
    {
        flex-direction: column;

        align-items: flex-start;
    }
}

.example__achievements
{
    display: flex;

    padding: 10px 0;

    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    @include desktop
    {
        justify-content: flex-start;
    }
}

.example__costs
{
    font-size: 14px;
    line-height: 20px;

    margin-top: 0;
    margin-bottom: 35px;

    text-align: center;
    text-transform: uppercase;

    @include tablet
    {
        font-size: 20px;
        line-height: 1.5;

        margin-top: 15px;
        margin-bottom: 0;

        text-align: right;
    }
    @include desktop
    {
        margin-top: 30px;

        text-align: left;
    }
}

.example__costs-amount
{
    @include tablet
    {
        display: block;
    }
    @include desktop
    {
        display: inline-block;

        margin-left: 60px;
    }
}
