.program
{
    @include desktop
    {
        padding-top: 40px;
    }
}

.program__wrapper
{
    @include desktop
    {
        display: flex;

        padding: 0;

        flex-wrap: wrap;
    }
}

.program__item
{
    overflow: hidden;

    margin-bottom: 20px;
    padding: 20px 20px 0;

    background-color: $grey;

    @include tablet
    {
        position: relative;

        margin-bottom: 30px;
        padding: 55px 285px 40px 50px;

        &--pro
        {
            padding-right: 315px;
        }
    }
    @include desktop
    {
        margin: 40px;
        padding: 25px 50px;

        flex: 1 0 36%;

        &:last-child
        {
            margin-bottom: 40px;
        }
    }
}

.program__title
{
    font-size: 24px;
    font-weight: normal;
    line-height: 50px;

    display: flex;

    margin: 0;
    padding: 4px 2px;

    text-transform: uppercase;

    align-items: center;
    @include tablet
    {
        font-size: 36px;
        line-height: 1;

        padding: 22px 0;
    }
}

.program__icon
{
    position: relative;

    width: 50px;
    height: 50px;
    margin-right: 20px;

    border-radius: 50%;
    background-color: $green;

    @include tablet
    {
        position: absolute;
        top: 92px;
        right: 42px;

        width: 200px;
        height: 200px;
    }
    @include desktop
    {
        position: relative;
        top: auto;
        right: auto;

        width: 100px;
        height: 100px;
        margin-right: 60px;
    }

    &::after
    {
        @include v-center;
    }

    &--slim::after
    {
        top: 42.5%;

        width: 100%;
        height: 97%;

        background: url('../img/vector/icon-cat-slim.svg') no-repeat center;
    }

    &--pro::after
    {
        top: 50%;

        width: 135%;
        height: 95%;

        background: url('../img/vector/icon-cat-pro.svg') no-repeat center;
    }
}

.program__description
{
    font-family: 'Arial', sans-serif;
    font-size: 14px;
    line-height: 18px;

    margin: 0;
    padding: 20px 0;

    border-bottom: 1px solid #d9d9d9;

    @include tablet
    {
        font-size: 16px;
        line-height: 1.5;

        padding-top: 5px;
        padding-bottom: 35px;

        border-bottom: 0;
    }
    @include desktop
    {
        padding-top: 18px;
        padding-bottom: 18px;
    }
}

.program__link
{
    display: flex;

    margin-bottom: 1px;
    padding: 20px 0;

    text-decoration: none;
    text-transform: uppercase;

    color: $black;
    border-left: 0;

    align-items: center;
    @include tablet
    {
        font-size: 20px;

        display: inline-flex;

        padding-left: 2px;

        border: 0;

        &::before
        {
            margin-left: 25px;
        }
    }
    @include desktop
    {
        margin-bottom: 27px;
        padding: 11px 0;
    }

    &::before,
    &::after
    {
        display: block;

        content: '';
        transition: all .2s ease-out;
    }

    &::before
    {
        width: 19px;
        height: 3px;
        margin-left: 10px;

        background-color: $darkgrey;

        order: 1;
    }

    &::after
    {
        border: 5.5px solid transparent;
        border-left-color: $darkgrey;

        order: 2;
    }

    &:hover::before
    {
        width: 27px;

        background-color: $green;
    }

    &:hover::after
    {
        border-left-color: $green;
    }

    &:hover
    {
        color: $green;
    }

    &:active
    {
        transition: none;

        opacity: .3;
    }

    &:active::before
    {
        background-color: $green;
    }

    &:active::after
    {
        border-left-color: $green;
    }
}
