.promo
{
    background-color: #61a63c;
    background-image: linear-gradient(to top, #fff 97px, transparent 97px),
    url('../img/raster/index-background-mobile@1x.jpg'),
    linear-gradient(to top, #fff 197px, #61a63c 197px);
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100%;

    @include retina
    {
        background-image: linear-gradient(to top, #fff 97px, transparent 97px),
        url('../img/raster/index-background-mobile@2x.jpg'),
        linear-gradient(to top, #fff 197px, #61a63c 197px);
    }
    @include tablet
    {
        background: #fff;
    }
    @include desktop
    {
        min-height: 560px;

        background: transparent;
    }
}

.promo__wrapper
{
    position: relative;

    padding-bottom: 22px;

    text-align: center;

    color: #fff;

    @include tablet
    {
        display: flex;
        flex-direction: column;

        padding: 0 20px;

        text-align: left;

        color: $black;

        align-items: flex-start;
    }
}

.promo__content
{
    @include tablet
    {
        margin-left: 100px;
    }
}

.promo__title
{
    font-size: 36px;
    font-weight: 500;

    padding: 27px 0 20px;

    @include tablet
    {
        font-size: 60px;

        padding: 35px 0;
    }
    @include desktop
    {
        margin-top: 34px;
        padding-top: 50px;
    }
}

.promo__text
{
    font-size: 14px;

    margin-top: 5px;
    margin-bottom: 28px;

    text-transform: uppercase;

    @include tablet
    {
        font-size: 20px;
        line-height: 22px;

        padding-bottom: 15px;
    }
    @include desktop
    {
        padding-bottom: 25px;
    }
}

.promo__img-wrapper
{
    @include tablet
    {
        display: flex;

        width: 100%;

        justify-content: center;
        order: 2;
    }
}

.promo__img
{
    height: auto;
    margin: 0 auto;
    margin-bottom: 2px;

    animation-name: fadeInLeft;
    animation-duration: 1.5s;

    @include tablet
    {
        width: 709px;
        height: 609px;
        margin-top: -80px;
    }
    @include desktop
    {
        position: absolute;
        top: 0;
        left: 490px;

        width: 552px;
        height: 499px;
        margin-top: 5px;
        margin-bottom: 50px;
    }
}

.promo__btn
{
    font-size: 14px;

    order: 1;
    @include tablet
    {
        font-size: 20px;

        z-index: 2;

        margin-bottom: 3px;
        margin-left: 100px;
        padding: 16px 27px;
    }
}
