.slider
{
    display: flex;
    flex-direction: column;

    padding-bottom: 34px;

    align-items: center;
    @include tablet
    {
        overflow: hidden;

        margin: 0 (-$tablet-pads);

        background-image: linear-gradient(#fff 0, #fff 180px, $grey 180px, $grey 100%);
    }
    @include desktop
    {
        overflow: visible;

        margin: 0;
        padding-bottom: 35px;

        background-image: linear-gradient(#fff 0, #fff 200px, $grey 200px, $grey 100%);
    }
}

.slider__images
{
    position: relative;

    width: 320px;
    height: 240px;
    margin: 0 (-$mobile-pads);

    @include tablet
    {
        width: 680px;
        height: 517px;
        margin: 10px 0 0;
    }
    @include desktop
    {
        width: 650px;
    }
}

.slider__image
{
    position: absolute;
    top: 0;
    bottom: 0;

    overflow: hidden;

    width: 100%;

    transition: width .4s ease-out;

    @include tablet
    {
        display: flex;
        flex-direction: column;

        width: 50%;

        &--after
        {
            background-image: linear-gradient(#fff 0, #fff 170px, #eaeaea 170px, #eaeaea 100%);
            box-shadow: 400px 570px 0 400px #eaeaea;

            align-items: flex-end;

            img
            {
                z-index: 1;
            }
        }
    }
    @include desktop
    {
        &--before
        {
            left: -40px; //Отступ только для совпадения с макетом

            overflow: visible;

            width: 750px;
            padding-right: 40px; //Для компенсации отстуа
        }

        &--after
        {
            background-image: linear-gradient(#fff 0, #fff 190px, #eaeaea 190px, #eaeaea 100%);
            box-shadow: 400px 590px 0 400px #eaeaea;
        }
    }

    &--after
    {
        right: 0;

        display: flex;

        justify-content: flex-end;
    }

    img
    {
        max-width: inherit;

        @include tablet
        {
            width: 680px;
            height: 517px;
        }
        @include desktop
        {
            width: 690px;
        }
    }
}

.slider__before:checked ~ .slider__images .slider__image--before,
.slider__after:checked ~ .slider__images .slider__image--after
{
    width: 100%;
}

.slider__before:checked ~ .slider__images .slider__image--after,
.slider__after:checked ~ .slider__images .slider__image--before
{
    width: 0;
}

.slider__actions
{
    z-index: 1;

    display: flex;

    margin-top: 30px;
    padding: 2px;

    justify-content: center;
    align-items: center;
    @include tablet
    {
        margin-top: 15px;
        margin-bottom: 30px;
    }
    @include desktop
    {
        margin-top: 33px;
    }
}

.slider__btn
{
    line-height: 1.25;

    margin: 0 20px;

    cursor: pointer;
    user-select: none;
    text-align: center;
    text-transform: uppercase;

    color: $black;

    @include tablet
    {
        font-size: 20px;
        line-height: 1;

        padding: 6px 0;

        border-bottom: 1px dotted rgba(0, 0, 0, .3);

        &:hover
        {
            color: $green;
            border-bottom-style: solid;
        }

        &:active
        {
            border-bottom: 0;
        }
    }
}

.slider__scale
{
    display: inline-flex;

    box-sizing: border-box;
    width: 85px;
    height: 14px;
    padding: 4px 6px;

    border: 1px solid $border-grey;
    border-radius: 6px;
    background-color: #fff;

    align-items: center;
    @include tablet
    {
        width: 428px;
        height: 6px;
        padding: 4px 0;

        border-color: $border-grey;
        background-color: $border-grey;
    }
}

.slider__grip
{
    display: block;

    width: 35px;
    height: 6px;

    cursor: pointer;
    transition: margin-left .35s ease-out;

    border-radius: 3px;
    background-color: $green;

    flex-shrink: 0;
    @include tablet
    {
        box-sizing: border-box;
        width: 34px;
        height: 34px;
        margin-left: calc(50% - 17px);

        border: 1px solid $border-grey;
        border-radius: 50%;
        background-image: radial-gradient($green 0, $green 4px, #fff 5px, #fff 100%);
        box-shadow: 0 2px 5px rgba(0, 0, 0, .15);

        &:hover
        {
            box-shadow: 0 3px 5px rgba(0, 0, 0, .25);
        }

        &:active
        {
            border: 2px solid $green;
            box-shadow: 0 4px 5px rgba(0, 0, 0, .3);
        }
    }
}

.slider__before:checked ~ .slider__actions .slider__grip
{
    margin-left: 0;
}

.slider__after:checked ~ .slider__actions .slider__grip
{
    margin-left: calc(100% - 34px);
}
