.btn {
  display: block;
  min-height: 40px;
  text-align: center;
  padding: 10px 20px;
  color: #ffffff;
  line-height: 20px;
  transition: all 0.15s ease-in;
  background-color: $green;
  min-width: 260px;

  &:hover {
    background-color: #5eaa2f;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }

  &--grey {
    color: #000000;
    background-color: $grey;

    &:hover {
      background-color: #ebebeb;
    }

    &:active {
      color: rgba(0, 0, 0, 0.3);
    }
  }
}
