.product__wrapper
{
    display: flex;

    max-width: 480px;
    margin: 0 auto;

    align-items: center;
    flex-wrap: wrap;
    @include tablet
    {
        flex-direction: column;
    }
}

.product__link-img
{
    display: flex;

    flex: 1 0 auto;
    @include tablet
    {
        width: 100%;
        height: 118px;
        padding-bottom: 33px;

        align-items: flex-end;
    }
}

.product__img
{
    display: flex;

    height: auto;

    justify-content: center;
    flex: 4 0 50%;
    @include tablet
    {
        &:hover
        {
            transition: transform .5s ease-in-out;
            transform: translateY(10px) scale(1.1);
        }

        &:active
        {
            transition: transform .2s ease-in-out;
            transform: translateY(10px) scale(.9);
        }
    }

    &:hover
    {
        transition: transform .5s ease-in-out;
        transform: translateY(4px) scale(1.05);
    }

    &:active
    {
        transition: transform .2s ease-in-out;
        transform: scale(.9);
    }

    & > picture
    {
        margin-right: -40px;
        margin-left: -40px;
    }

    & > picture img
    {
        @include tablet
        {
            width: 100%;
            height: auto;
        }
    }
}

.product__content
{
    z-index: 2;

    min-width: 140px;
    max-width: 165px;

    flex: 0 0 37%;
    @include tablet
    {
        max-width: unset;
        padding-top: 2px;

        background-color: $grey;

        align-self: stretch;
        flex: 1 0 auto;
    }
}

.product__link-title
{
    color: #222;

    &:hover .product__title
    {
        color: $green;
    }

    &:active .product__title
    {
        opacity: .6;
        color: $green;
    }
}

.product__title
{
    font-size: 16px;
    font-weight: 300;
    line-height: 20px;

    width: 100%;
    max-width: 102px;
    margin: 0;
    padding-bottom: 10px;

    text-transform: uppercase;

    color: #222;

    @include bgmobile
    {
        max-width: 155px;
    }
    @include tablet
    {
        font-size: 20px;

        margin: 0 auto;

        text-align: center;
    }
    @include desktop
    {
        width: 80%;
    }
}

.product__info
{
    font-family: $arial;

    width: 100%;

    color: $darkgrey;

    @include tablet
    {
        margin-top: 10px;
        margin-bottom: 33px;
    }
}

.product__info td
{
    font-size: 12px;
    line-height: 17px;

    padding: 0;

    @include tablet
    {
        font-size: 16px;
        line-height: 15px;

        padding: 8px 0;
    }
}

.product__info td:last-child
{
    text-align: right;
}

.product__info tr
{
    @include tablet
    {
        border-bottom: 1px solid $border-grey;
    }
}

.product__btn
{
    z-index: 2;

    min-width: 280px;
    max-width: 480px;
    margin: 0 auto;

    flex: 1 0 100%;
    @include tablet
    {
        min-width: 248px;

        flex: auto;
    }
    @include desktop
    {
        min-width: 169px;
    }
}
