.btn
{
    font-weight: 400;
    line-height: 20px;

    display: block;

    box-sizing: border-box;
    min-width: 260px;
    min-height: 40px;
    padding: 10px 20px;

    text-align: center;

    color: #fff;
    background-color: $green;

    @include desktop
    {
        min-width: 169px;
    }

    &:hover
    {
        transition: all .3s ease-in;

        color: yellow;
        background-color: #5eaa2f;
    }

    &:active
    {
        transition: color .15s ease-in;

        color: rgba(255, 255, 255, .3);
    }

    &--grey
    {
        width: 100%;
        min-width: 280px;
        max-width: 480px;
        margin: 0 auto;

        color: #000;
        background-color: $grey;

        @include tablet
        {
            min-width: 248px;
        }
        @include desktop
        {
            min-width: 169px;
        }

        &:hover
        {
            transition: all .3s ease-in;

            color: $green;
            background-color: #ebebeb;
        }

        &:active
        {
            transition: color .15s ease-in;

            color: rgba(0, 0, 0, .3);
        }
    }
}
