.copyright
{
    box-sizing: content-box;

    @include tablet
    {
        padding-top: 5px; //20px
    }
    @include desktop
    {
        padding-top: 0;
    }
}

.copyright__link
{
    font-family: 'Arial', sans-serif;

    display: flex;

    text-decoration: none;
    text-transform: none;

    color: $darkgrey;

    justify-content: space-between;
    align-items: center;
    @include mdmobile
    {
        justify-content: center;
    }

    &:hover .copyright__logo
    {
        fill: $green;
    }

    &:active
    {
        opacity: .3;
    }
}

.copyright__logo
{
    width: 27px;
    height: 34px;

    fill: #666;
    @include mdmobile
    {
        margin-left: 28px;
    }
    @include tablet
    {
        margin-left: 22px;
    }
}
