.main-nav
{
    margin: 0 -20px;

    @include brdt (1px, #e6e6e6);
    @include tablet
    {
        margin: 0 -18px;

        border-top: none;
    }
}

.main-nav__list
{
    display: none;

    @include reset-list ();
    @include tablet
    {
        display: flex;

        flex-wrap: wrap;
    }
    @include desktop
    {
        flex-basis: 570px;
        justify-content: flex-end;
    }

    .main-nav--no-js &,
    .main-nav--opened &
    {
        display: block;

        @include tablet
        {
            display: flex;
        }
    }
}

.main-nav__item
{
    border-bottom: 1px solid #e6e6e6;

    @include tablet
    {
        border-bottom: none;
    }
}

.main-nav__link
{
    font-family: $oswald;
    font-size: 20px;
    font-weight: 500;
    line-height: 25px;

    display: block;

    padding: 20px;

    text-align: center;

    @include tablet
    {
        font-size: 18px;
        line-height: 1.38;

        margin: 0 18px;
        padding: 10px 0;

        &--active
        {
            border-bottom: 2px solid $green;
        }
    }
    @include desktop
    {
        font-size: 20px;
        line-height: 1.24;
    }

    &:hover
    {
        opacity: .6;
    }

    &:active
    {
        opacity: .3;
    }

    &--active
    {
        pointer-events: none;
    }
}

@include desktop
{
    .main-nav__list--index .main-nav__link
    {
        color: #fff;

        &--active
        {
            border-bottom-color: #fff;
        }
    }
}
