.page-footer
{
    background-color: $grey;
}

.page-footer__bottom
{
    @include tablet
    {
        display: flex;

        min-height: 150px;
        padding-top: 49px;
        padding-bottom: 47px;

        justify-content: space-between;
        align-items: center;
    }
    @include desktop
    {
        min-height: 144px;
        padding-top: 52px;
    }
}

.page-footer__logo,
.page-footer__social,
.page-footer__copyright
{
    padding: 20px 0;

    @include tablet
    {
        padding: 0;
    }
}

.page-footer__logo
{
    position: relative;

    display: flex;

    box-sizing: content-box;
    height: 45px;
    padding-top: 29px;
    padding-bottom: 20px;

    align-items: center;
    @include tablet
    {
        margin-right: 30px;
        padding: 0;
    }

    svg
    {
        fill: #111;
    }

    &:hover
    {
        opacity: .8;
    }

    &:active
    {
        opacity: .6;
    }
}

.page-footer__logo:hover svg
{
    fill: $green;
}

.page-footer__logo-link
{
    margin: auto;

    @include tablet
    {
        width: 128px;
    }
    @include desktop
    {
        height: 22px;
    }
}
