.toggle
{
    font-size: 0;
    line-height: 0;

    position: absolute;
    top: 4px;
    right: 0; // -4px;

    display: flex;

    box-sizing: content-box;
    width: 30px;
    height: 30px;
    margin: 0;
    padding: 15px;
    padding-right: 20px;

    cursor: pointer;
    user-select: none;

    border: 0;
    border-radius: 0;
    outline: none;
    background: 0 0;

    justify-content: center;
    align-items: center;
    @include tablet
    {
        display: none;
    }
}

.toggle__btn
{
    position: relative;

    display: inline-block;

    width: 26px;
    height: 2px;

    transition: background .7s .7s;
    vertical-align: bottom;

    background: #000;
}

.toggle__btn::after,
.toggle__btn::before
{
    position: absolute;
    left: 0;

    width: 100%;
    height: 2px;

    content: '';
    transition: top .5s .5s, transform .5s;
    transform-origin: 50% 50%;

    background: #000;
}

.toggle__btn::after
{
    top: -8px;
}

.toggle__btn::before
{
    top: 8px;
}

.main-nav--opened .toggle__btn::before
{
    transform: rotate3d(0, 0, 1, 45deg);
}

.main-nav--opened .toggle__btn::after,
.main-nav--opened .toggle__btn::before
{
    top: 0;

    width: 28px;

    transition: top .3s, transform .3s .5s;
}

.main-nav--opened .toggle__btn::after
{
    transform: rotate3d(0, 0, 1, -45deg);
}

.main-nav--opened .toggle__btn
{
    transition: background .01s .01s;

    background: 0 0;
}
