.program-form__wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  @include desktop {
    flex-direction: row;
    justify-content: space-between;
  }
}

.program-form__info {
  flex: 1 0 100%;
}

.program-form__title {
  margin: 0;
  padding: 27px 0 20px;

  font-weight: 400;
  font-size: 36px;

  @include tablet {
    padding: 35px 0;

    font-size: 60px;
  }
  @include desktop {
    padding-top: 50px;
  }
}

.program-form__text {
  margin: 16px 0;

  font-size: 14px;
  line-height: 1.3;
  text-transform: uppercase;

  @include tablet {
    margin: 20px 0;
    padding-left: 40px;

    font-size: 20px;
    line-height: 1.5;
  }
  @include desktop {
    padding-left: 0;
  }
}

.program-form__submit {
  padding-top: 23px;
  padding-bottom: 11px;

  @include tablet {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 35px;
    padding-bottom: 72px;
  }
  @include desktop {
    padding-top: 46px;
    padding-bottom: 82px;
  }
}

.program-form__submit-btn {
  width: 100%;
  max-width: 540px;
  margin: 0 auto;

  font-family: $oswald;
  text-transform: uppercase;

  border: none;
  cursor: pointer;

  @include tablet {
    width: 285px;
    margin-right: 60px;
    margin-left: 40px;
    padding: 16px;

    font-size: 20px;
  }
  @include desktop {
    width: 570px;
    margin-right: 80px;
    margin-left: 0;
  }
}

.program-form__note {
  margin: 20px 0;

  font-size: 14px;
  line-height: 18px;
  font-family: "Arial", sans-serif;
  text-align: center;

  @include tablet {
    margin: 0;

    font-size: 16px;
    line-height: 1.5;
  }

  sup {
    vertical-align: top;
  }
}
